@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Geist:wght@100..900&family=Geologica:wght,CRSV@100..900,0&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light-bg: #f4f4f9;
    --color-light-surface: #ffffff;
    --color-light-primary-text: #1e293b;
    --color-light-secondary-text: #64748b;
    --color-light-primary: #2d5ded;
    --color-light-secondary: #7c4dff;
    --color-light-fail: #ef4444;
    --color-light-success: #22c55e;
    --color-light-primary-hover: #1d4ed8;
    --color-light-secondary-hover: #6d3aff;
    --color-light-fail-hover: #dc2626;
    --color-light-success-hover: #16a34a;

    --color-dark-bg: #111;
    --color-dark-surface: #181818;
    --color-dark-primary-text: #EDEDED; 
    --color-dark-secondary-text: #A3A3A3;
    --color-dark-primary: #84cc16;
    --color-dark-secondary: #a78bfa;
    --color-dark-fail: #FF6B6B;
    --color-dark-success: #4ADE80;
    --color-dark-primary-hover: #8ba3ff;
    --color-dark-secondary-hover: #b794ff;
    --color-dark-fail-hover: #ff5555;
    --color-dark-success-hover: #4ade80;

    /* Scrollbar Variables */
    --scrollbar-thumb: var(--color-light-surface);
    --scrollbar-thumb-hover: var(--color-light-primary);
}


* {
    font-family: "Bricolage Grotesque", sans-serif;
}